:root {
  --btn-font-size: 0.875rem;
  --btn-radius: 1rem;
}

.btn {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  padding: var(--space-xxs) var(--space-sm);
  border-radius: var(--btn-radius);
  font-size: --btn-font-size;
  justify-content: center;
  align-items: center;
  background-color: var(--colors-grey-base);
  color: var(--colors-grey-lighten-65);
  letter-spacing: 1.25px;
  cursor: pointer;
  transition: all 0.3s;

  --btn-primary-color: var(--colors-grey-base);
  --btn-darken-color: var(--colors-grey-darken-20);
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--active {
  background-color: var(--btn-darken-color);
}

.btn--primary {
  background-color: var(--colors-primary-base);
  color: var(--colors-primary-lighten-35);

  --btn-primary-color: var(--colors-primary-base);
  --btn-darken-color: var(--colors-primary-darken-30);
}

.btn--error {
  background-color: var(--colors-error-base);
  color: var(--colors-error-lighten-35);

  --btn-primary-color: var(--colors-error-base);
  --btn-darken-color: var(--colors-error-darken-30);
}

.btn--outline {
  --btn--outline-bg-color: transparent;

  background-color: var(--btn--outline-bg-color);
  border: 1px solid var(--btn-primary-color);
  color: var(--btn-primary-color);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--btn--outline-bg-color);
    color: var(--btn-darken-color);
    border-color: var(--btn-darken-color);
  }
}

.btn--link {
  --btn--link-bg-color: transparent;

  background-color: var(--btn--link-bg-color);
  color: var(--btn-primary-color);
  text-transform: none;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--btn--link-bg-color);
    color: var(--btn-darken-color);
  }
}
