:root {
  /* Grey */
  --colors-grey-base: #474954;
  --colors-grey-lighten-30: #9294a2;
  --colors-grey-lighten-40: #adafba;
  --colors-grey-lighten-65: #f2f3f4;
  --colors-grey-darken-10: #303138;
  --colors-grey-darken-20: #18191d;

  /* White */
  --colors-white: #f7f7ff;

  /* Primary */
  --colors-primary-base: #48acf0;
  --colors-primary-lighten-20: #a6d7f8;
  --colors-primary-lighten-30: #d5ecfc;
  --colors-primary-lighten-35: #edf7fe;
  --colors-primary-darken-30: #0c5c93;

  /* Success */
  --colors-success-base: #00a676;
  --colors-success-lighten-40: #73ffd7;
  --colors-success-lighten-60: #d9fff4;

  /* Error */
  --colors-error-base: #fb3640;
  --colors-error-lighten-25: #fdb3b7;
  --colors-error-lighten-35: #fee5e6;
  --colors-error-darken-30: #95030a;
}
