.pill {
  --pill-background: var(--colors-grey-base);
  --pill-color: var(--colors-grey-lighten-65);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 0.5rem;
  padding: var(--component-padding-sm);
  background-color: var(--pill-background);
  color: var(--pill-color);
}

.success {
  --pill-background: var(--colors-success-base);
  --pill-color: var(--colors-success-lighten-60);
}

.error {
  --pill-background: var(--colors-error-base);
  --pill-color: var(--colors-error-lighten-35);
}
