.title {
  display: inline-block;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.mainContent {
  display: flex;
}

.tileContainer {
  display: flex;
  cursor: pointer;
}

.tile {
  background-color: var(--tile-color);
  width: 2rem;
  height: 100%;
}
