.container {
  grid-area: panel;
  border-left: 1px solid var(--colors-grey-lighten-40);
  padding: var(--component-padding) var(--component-padding) 0
    var(--component-padding);
  position: sticky;
  height: 100vh;
  top: 0;

  &.canDrop {
    border: none;
    box-shadow: -1px 0px 5px var(--colors-primary-base);
  }
}
