.appContainer {
  display: grid;
  grid-template-areas:
    "nav nav"
    "main panel"
    "footer footer";
  grid-template-rows: 4rem 1fr 4rem;
  grid-auto-columns: 3fr 1fr;
  height: 100%;
}

.container {
  padding: var(--space-lg);
  grid-area: main;
  height: 100%;
}
