.appContainer {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-rows: 4rem 1fr 4rem;
  height: 100%;
}

.container {
  padding: var(--space-lg);
  grid-area: main;
  height: 100%;
}
